<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,515}</string>
                <key>spriteSourceSize</key>
                <string>{515,515}</string>
                <key>textureRect</key>
                <string>{{0,0},{515,515}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,515}</string>
                <key>spriteSourceSize</key>
                <string>{515,515}</string>
                <key>textureRect</key>
                <string>{{515,0},{515,515}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,515}</string>
                <key>spriteSourceSize</key>
                <string>{515,515}</string>
                <key>textureRect</key>
                <string>{{1030,0},{515,515}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,515}</string>
                <key>spriteSourceSize</key>
                <string>{515,515}</string>
                <key>textureRect</key>
                <string>{{0,515},{515,515}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,515}</string>
                <key>spriteSourceSize</key>
                <string>{515,515}</string>
                <key>textureRect</key>
                <string>{{515,515},{515,515}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,515}</string>
                <key>spriteSourceSize</key>
                <string>{515,515}</string>
                <key>textureRect</key>
                <string>{{1030,515},{515,515}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animate.png</string>
            <key>size</key>
            <string>{1545,1030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a86b4df5bd9e42f1216cdddef231e7fe:c9d16b4f55062ccf5a4d4cab935f8a43:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>animate.png</string>
        </dict>
    </dict>
</plist>
